// THIS FILE IS ONLY FOR IMPORT OTHER FILES

@import 'ff.scss';
@import 'normalize.scss';


body{
	margin: 0;
	padding: 0;
	background-color: #9B59B6;
	color: #fff;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	h2, h4{
		margin-left: 50px;
	}
}

.container{
	margin: 0;
	width: 100%;
	height: 50vh;
	padding: 0;
	background: #9B59B6 url('/images/bg.jpeg') 50% 50% no-repeat;
	background-size: cover;
}

h2{
	text-transform: uppercase;
}

